body{
    background-color: cadetblue;
}

h1 {
    text-align: center;
    color: green;
    font-family: 'Roboto', sans-serif;
}


h3 {
    text-align: center;
    color: blue;
    font-family: cursive;
}


.postTitle {
    color: red;
    border: green solid;
    margin: 10%;
    text-align: left;
}


#postContentOne {
    font-family: 'Roboto', sans-serif;
    border: black solid;
    color: red;
    letter-spacing: 10px;
    margin: 15%;
}


#postContentTwo {
    font-family: cursive;
    text-decoration: line-through;
    border: aqua dashed;
    color: chocolate;
}


#postContentThree {
    font-family: cursive;
    text-decoration: underline;
    border: blue double;
    color: aquamarine;
}


