h3{
    text-align: center;
    border: red solid;
}

#box-model{
    border: green solid 12px;
    background-color: silver;
/*    padding*/
/*    padding: 20px;* one number = all around/
/*    px stands for pixels so in this example padding is 20 pixels around*/
/*    padding: 20px 50px;*/
/*   two numbers = top and bottom/ left and right*/
/*  padding 20px turned into comment because you can't have 2 paddings*/  
    padding: 50px 50px 100px 60px;
/*    top 20, right 50, bottom 100, left 60 (or clockwise)*/
    
/*    margin*/
/*    margin: 50px*/
/*    margin: 50px 80px;*/
/*   margin: 50px 80px 100px 30px; */
    margin-left: 20px;
}
