h1{
    text-align: center;
    padding-top: 200px;
}

h5{
    text-align: center;
}

p{
    background-color: black;
    padding: 50px;
    color: white;
    border-left: gold solid;
    border-left-width: 20px;
    border-top: blue solid;
    border-top-width: 20px;
    border-right: green solid;
    border-right-width: 20px;
    border-bottom: red solid;
    border-bottom-width: 20px;
}


#box-model{
    text-align: center;
    padding: 0 300px;
}
