body{
    background-color: cornflowerblue;
}

.box{
    height: 240px;
    width: 400px;
    background-color: rgb(201, 74, 93);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 150px;
    border-radius: 25px;
    box-shadow: 4px 8px 18px 5px;
}

#box1{
    margin-right: 70%;
}


img{
    float: right;
    position: absolute;
    top: 20%;
    left: 30%;
}

.chip{
    position: absolute;
    left: 10%;
    top: 26%;
}

h1{
    color: silver;
    font-size: 20px;
    position: absolute;
    left:  12%;
    top: 32%;
    letter-spacing: 7px;
}

h2{
    color: silver;
    font-size: 20px;
    position: absolute;
    left:  12%;
    top: 37%;
}

h3{
    color: silver;
    font-size: 10px;
    position: absolute;
    left:  25%;
    top: 37%; 
}

h4{
    color: silver;
    position: absolute;
    left: 25%;
    top: 37%;
}

h5{
    position: absolute;
    top: 40%;
    left: 12%;
    color: silver;
    font-family: cursive;
}

.box2{
    height: 240px;
    width: 400px;
    background-color: rgb(201, 74, 93);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 150px;
    border-radius: 25px;
    box-shadow: 4px 8px 18px 5px; 
}







