/* comment line */
/*comments/ notes*/

/*EXTERNAL CSS*/

/*Selector by element*/
h1 {
    text-align: center;
    color: darkorange;
    font-family: 'Roboto', sans-serif;
}



/*select by a class name*/
.postTitle {
    color: blue;
    text-decoration: underline;
}

/*select by id name*/
#postContentOne {
    font-family: 'Roboto', sans-serif;
    border: black solid;
}
#postContentTwo {
    font-family: cursive;
    text-decoration: line-through;
    border: aqua dashed;
}
