h1{
    font-family: "Times New Roman";
    font-size: 70px;
    border-bottom: silver dotted;
}

#subheadline-arrow{
    font-size: 25px;
}

h2{
    border-bottom: black solid 2px;
}

h3{
    font-size: 19px;
    border-bottom: silver dotted;
}

p{
    font-family: "Comic Sans MS";
}

h4{
    font-family: "Times New Roman";
    border-bottom: black solid 2px;
    text-align: right;
}

h5{
    font-family: "Times New Roman";
    
}

h6{
    font-family: "Times New Roman";
    font-size: 20px;
}


h7{
    font-family: "Times New Roman";
    font-size: 20px;
}

h8{
    font-family: "Times New Roman";
    font-size: 20px;
}




