ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}

#title{
    height: 500px;
    background-color: cornflowerblue;
}

#sidebar{
    height: 300px;
    background-color: red;
    float: left;
    width: 30%;
}

img{
    height: 300px;
}

#content{
    height: 300px;
    background-color: yellow;
    float: right;
    width: 70%;
}

#footer{
    height: 200px;
    background-color: green;
    float: left;
    width: 100%;
}


