h1{
    text-align: center;
}

.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-gap: 1rem;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column{
    float: left;
    border: 1px black solid;
    height: 50px;
}

.column.one-half{
    width: 48.8%;
}

.column.one-third{
    width: 32.29%;
}

.column.one-fourth{
    width: 24.3%;
}

.column.one-eighth{
    width: 12%;
}






    
    

