body{
    background-color: cyan;
   
}

h1{
    font-family: cursive;
    font-size: 50px;
    text-align: center;
}

.container{
    background-color: cornflowerblue;
    border-radius: 15px;
}

input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit], input[type=submit] {
    background-color: plum;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

p{
    text-align: center;
    font-size: 30px;
    font-family: cursive;
}
