body{
    background-color: cornflowerblue;
}

h1{
    font-family: cursive;
    color: yellow;
    font-size: 50px;
}

#article1{
    color: blue;
    font-family: "Comic Sans MS";
    text-decoration: underline;
}

#para1{
    color: green;
}

#article2{
    background-color: green;
    text-decoration: underline white wavy;
    border-radius: 30%;
}

h2{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

#article3{
    border: gold solid;
    background-color: darkorange;
}

h3{
    font-size: 60px;
    font-family: "Apple SD Gothic Neo";
    border: black solid;
}

img{
    height: 200px;
    width: 300px;
}

#article4{
    background-color: blue;
    color: crimson;
    border: black dashed;
}

#para4{
    font-size: 20px;
    color: white;
    border: crimson double;
}

h4{
   font-size: 30px;
   font-family: "American Typewriter";
    color: black;
}

#article5{
    background-color: greenyellow;
    color: purple;
}

h5{
    font-size: 40px;
    font-family: "Times New Roman";
}



