h1{
    font-family: "American Typewriter";
    text-decoration: underline;
}

.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    grid-gap: 1rem;
    display: grid;
    text-align: center;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.column{
    float: left;
    border: silver 1px solid;
    height: 50px;
}

.column.one-half{
    width: 48%;
    background-color: blueviolet;
    font-family: cursive;
}

.column.one-third{
    width: 32%;
    background-color: mediumpurple;
    font-family: cursive;
}

.column.one-fourth{
    width: 24%;
    background-color: palevioletred;
    font-family: cursive;
}

.column.one-eighth{
    width: 11.8%;
    background-color: plum;
    font-family: cursive;
}
