body{
    background-color: peachpuff;
}
h1{
    font-family: cursive;
    color: palevioletred;
    text-align: center;
    font-size: 50px;
    text-decoration: underline wavy;
    text-decoration-color: mediumpurple;
    border: darkorchid dotted;
}
#expenses{
    background-color: purple;
    font-family: cursive;
}
#June{
    background-color: plum;
    font-family: cursive;
}
#July{
    background-color: pink;
    font-family: cursive;
}
#August{
    background-color: silver;
    font-family: cursive;
}
