body{
    background-color: black;
}

h3{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: white;
    font-family: cursive;
    color: crimson;
}

h1{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: white;
    font-family: cursive;
    color: crimson;
    letter-spacing: 30px;
    background-color: blue;
    font-size: 40px;
}

#sidebar{
    background-color: cadetblue;
    height: 350px;
    border-radius: 15%;
    float: left;
}

ul{
    text-align: center;
    font-family: "Comic Sans MS";
}

img{
    border-radius: 50%;
    opacity: 0.3;
}

#content{
    width: 75%;
    float: right;
    margin-top: 200px;
}

ol{
    color: white;
    font-family: "Apple Chancery";
}

blockquote{
    color: white;
    margin-top: 600px;
}

#footer{
    background-color: black;
    width: 100%;
    border: crimson solid;
    margin-top: 100px;
}








